{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}

  <body data-bs-spy="scroll" data-bs-target="#navbar-navigation">
  <div class="container-fluid">
    <div class="row">
      <!-- only show menu on large devices -->
      <div class="col-lg-2 d-none d-lg-block">
        <div class="sticky-top">
          <nav id="navbar-navigation" class="navbar navbar-light bg-light flex-column align-items-start p-3">
            <a class="navbar-brand" href="#">Navigation</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#metadata">Metadata</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#required-metadata">Required Metadata</a>
                <a class="nav-link ms-3 my-1" href="#optional-metadata">Optional Metadata</a>
              </nav>
              <a class="nav-link" href="#bitstreams">Bitstreams</a>
              <a class="nav-link" href="#feedback">Feedback</a>
            </nav>
          </nav>
        </div>
      </div>
      <!-- main content is 10 columns on large devices, 12 on all others -->
      <main class="col-lg-10">
        <h1>CGSpace Submission Guidelines</h1>
        <p class="lead">This page provides guidelines for programmatic content submission to <a href="https://cgspace.cgiar.org">CGSpace</a>.</p>
        <p>In this documentation we detail mandatory metadata, optional metadata, example controlled vocabularies, and provide technical information about the CGSpace REST API.</p>
        <h2 id="metadata">Metadata</h2>
        <p>CGSpace currently uses metadata fields from three schemas:</p>
        <ul>
          <li><a href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#section-3">Dublin Core Elements</a> with the <code>dc</code> namespace prefix. These were <a href="http://www.dlib.org/dlib/July95/07weibel.html">originally designated in 1995</a> and are considered deprecated and superseded by Dublin Core Terms. Due to legacy code in the DSpace software we must still use some of these (see these <a href="https://alanorth.github.io/cgspace-notes/cgspace-cgcorev2-migration/#out-of-scope">notes from CGSpace's migration to CG Core v2</a> for more information).</li>
          <li><a href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#section-2">Dublin Core Terms</a> with the <code>dcterms</code> namespace prefix. These contain the original Dublin Core Terms and add others. As of 2008 these supercede the original Dublin Core Elements.</li>
          <li><a href="https://agriculturalsemantics.github.io/cg-core/cgcore.html">CG Core v2</a> with the <code>cg</code> namespace prefix. This is a living specification that is not yet finalized, but <a href="https://github.com/AgriculturalSemantics/cg-core/">consensus has been reached</a> on a number of fields.</li>
        </ul>
        <p>Metadata submitted to CGSpace should be encoded in UTF-8 to ensure correct representation of international characters.</p>
        <h3 id="required-metadata">Required Metadata</h3>
        <p>
        {{/* Note to future me: we need to use four ranges here, two for the */}}
        {{/* required metadata and two for the optional metadata, because it */}}
        {{/* is not possible to re-use Hugo's paginate object unless you use */}}
        {{/* the same exact arguments each time.                             */}}

        {{ range where (where site.RegularPages "Type" "terms") "Params.required" "==" true }}
          <a class="btn btn-sm btn-outline-primary m-1" href="#{{ .Params.slug }}">{{ .Params.field }}</a>
        {{ end }}
        </p>

        {{ range where (where site.RegularPages "Type" "terms") "Params.required" "==" true }}
        <div class="col">
          {{ .Render "term" }}
        </div>
        {{ end }}

        <h3 id="optional-metadata">Optional Metadata</h3>
        <p>These fields are optional, but we strongly suggest that you include as many as you can.</p>
        <p>
        {{ range where (where site.RegularPages "Type" "terms") "Params.required" "==" false }}
          <a class="btn btn-sm btn-outline-primary m-1" href="#{{ .Params.slug }}">{{ .Params.field }}</a>
        {{ end }}
        </p>

        {{ range where (where site.RegularPages "Type" "terms") "Params.required" "==" false }}
        <div class="col">
          {{ .Render "term" }}
        </div>
        {{ end }}
        <h2 id="bitstreams">Bitstreams</h2>
        <p>Bitstreams are files that accompany item metadata, for example: PDFs, Word documents, and PowerPoint presentations. Please keep the following advice in mind when submitting bitstreams along with your item metadata:</p>
        <ul>
          <li><strong>File size</strong>: keep files under ~35 megabytes. Remember that this is an open access repository and making sure files are accessible to as many people as possible is part of our commitment to FAIR principles.</li>
          <li><strong>Thumbnails</strong>: do not upload thumbnails for PDFs. CGSpace automatically generates thumbnails after items are accepted. We prefer to use these because we can regenerate them to higher quality versions in the future as technology gets better.</li>
        </ul>
        <h2 id="feedback">Feedback</h2>
        <p>If you have questions/comments please contact Alan Orth at the International Livestock Research Institute (ILRI).</p>
      </main>
    </div><!-- end .row -->
  </div><!-- end .container-fluid -->

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
