{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}

  <body data-bs-spy="scroll" data-bs-target="#navbar-navigation">
  <div class="container-fluid">
    <div class="row">
      <!-- only show menu on large devices -->
      <div class="col-lg-2 d-none d-lg-block">
        <div class="sticky-top">
          <nav id="navbar-navigation" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
            <span class="navbar-brand">Navigation</span>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#required-metadata">Required Metadata</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#optional-metadata">Optional Metadata</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- main content is 10 columns on large devices, 12 on all others -->
      <main class="col-lg-10">
        <h1>CGSpace Submission Guidelines</h1>
        <p class="lead">This page provides guidelines for programmatic content submission to <a href="https://cgspace.cgiar.org">CGSpace</a>.</p>
        <p>In this documentation we detail mandatory metadata, optional metadata, example controlled vocabularies, and provide technical information about CGSpace APIs.</p>
        <p class="mb-0">See also:</p>
        <ul>
          <li><a href="https://agriculturalsemantics.github.io/cg-core/cgcore.html">CG Core Metadata Reference Guide</a></li>
        </ul>
        <h2 id="required-metadata">Required Metadata</h2>
        <p>
        {{ range where (where site.RegularPages "Type" "terms") "Params.required" "==" true }}
          <a class="btn btn-sm btn-outline-primary m-1" href="#{{ .Params.slug }}">{{ .Params.field }}</a>
        {{ end }}
        </p>

        {{ range where (where site.RegularPages "Type" "terms") "Params.required" "==" true }}
        <div class="col">
          {{ .Render "term" }}
        </div>
        {{ end }}

        <h2 id="optional-metadata">Optional Metadata</h2>
        <p>These fields are optional, but we strongly suggest that you include as many as you can.</p>
        <p>
        {{ range where (where site.RegularPages "Type" "terms") "Params.required" "==" false }}
          <a class="btn btn-sm btn-outline-primary m-1" href="#{{ .Params.slug }}">{{ .Params.field }}</a>
        {{ end }}
        </p>

        {{ range where (where site.RegularPages "Type" "terms") "Params.required" "==" false }}
        <div class="col">
          {{ .Render "term" }}
        </div>
        {{ end }}
      </main>
    </div><!-- end .row -->
  </div><!-- end .container-fluid -->

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
