        <p class="invisible"><a id="{{ .Params.slug }}"></a></p>
        <table class="table table-sm table-bordered">
          <thead>
            <tr class="table-secondary">
              <th colspan="2">
                {{- .Params.field | markdownify -}}
                {{- with .Params.required -}}
                <div class="badge-required">
                  <span class="badge bg-primary">Required</span>
                </div>
                {{- end -}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-2 field-name">Definition</td>
              <td>{{ .Name | markdownify }}</td>
            </tr>
            {{ with .Params.description }}
            <tr>
              <td class="col-2 field-name">Comments</td>
              <td>{{ . | markdownify }}</td>
            </tr>
            {{ end }}
            {{ with .Params.policy }}
            <tr>
              <td class="col-2 field-name">Policy</td>
              <td>{{ . }}</td>
            </tr>
            {{ end }}
            {{ if .Params.vocabulary }}
            {{   with .Resources.GetMatch .Params.vocabulary }}
            <tr>
              <td class="col-2 field-name">Vocabulary</td>
              <td><a href="{{ .RelPermalink }}">{{ .Name }}</a></td>
            </tr>
            {{   end }}
            {{ end }}
          </tbody>
        </table>
